h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.verse {
  /* display: grid;
  grid-auto-flow: column;
  grid-template-columns: 6rem;
  align-items: start; */
}

.verse h4 {
  text-align: right;
  font-family: monospace;
}

ol {
  list-style-type: none;
  counter-reset: items;
  padding: 0;
}
ol li {
  counter-increment: items;
}
ol li:before {
  content: "00" counter(items);
}
ol li:nth-child(n + 10)::before {
  content: "0" counter(items);
}
ol li:nth-child(n + 100)::before {
  content: counter(items);
}