body {
  background-color: cornsilk;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
h1 a:hover {
  text-decoration: none;
}
h1 a:hover::after {
  content: '**';
}

.verse {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2rem 1fr;
  gap: 0.5rem;
  align-items: start;
  max-width: 100%;
}
.verse p {
  font-size: 1.5rem;
  max-width: 40rem;
}
.verse h4 {
  text-align: right;
  font-family: monospace;
}
.verse::before {
  /* display: grid;
  place-content: center;
  justify-content: center;
  height: 100%; */
}
.verse p small {
  display: none;
}

ol {
  list-style-type: none;
  counter-reset: items;
  padding: 0;
}
ol li {
  counter-increment: items;
}
ol li::before {
  font-family: monospace;
}
ol li:before {
  content: '00' counter(items) ' ';
}
ol li:nth-child(n + 10)::before {
  content: '0' counter(items) ' ';
}
ol li:nth-child(n + 100)::before {
  content: counter(items) ' ';
}
ol li:target {
  background-color: yellow;
}
